body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EEEEEE;
}

.col-1 {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 15px;
}

/* p {
  margin-bottom: 23px;
} */

#floor-div {
  height: 46px;
  width: 100%;
}

#elevator-icon {
  width: 30px;
  height: auto;
}

.text-red path {
  fill: red;
}

.text-green path {
  fill: green;
}

.text-black path {
  fill: black;
}

#app-main {
  text-align: center;
  align-items: center;
  margin-left: 25%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}